body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: auto;
  height: auto;
  background: #fff;
  padding: 20px;
  margin-left: 500px;
  margin-right: 500px;
  border: solid red;
}

/* padding é o quanto meu conteudo se move dentro da box*/
/* border é a borda da box */
/* margin é fora do elemento@! */

.title {
  background: #e3f4ff;
  padding: 20px;
}

.content {
  background: #e3f4ff;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button-container {
  background: #e3f4ff;
  padding: 20px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 15px;
  display: block;
  margin-left: 350px;
}